footer{
    display: flex;
    position:absolute;
    bottom:0;
    width: 100%;
    height:45px;  
    background-color: gray;
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
h2{
    text-align: left;
    font-size: 25px;
    width: inherit;
}
.links{
    display: block;
    width: 40%;
}
.links a{
    margin-right: 30px;
    margin-left: 10px;
    justify-content: center;
    color: white;
    font-weight: bold;
}
.links a:hover{
    color: black;
    transition: 0.5s linear;
}
.name{
    width: 60%;
}