table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  border-spacing: 10px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}
h1{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.form-control{
  margin-left: 300px;
  margin-bottom: 20px;
  width: 200px;
  height: 40px;
}
td, th {
  border: 1px solid black;
  text-align: center;
  margin: 0;
  padding: 10px;
}
th{
  background-color: cornflowerblue;
  color: white
}
.properties{
  list-style-type:circle;
  text-align: left;
}
.action{
width: 200px;
}
.add{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding:10px
}
.action button{
  padding: 10px;
  margin-right: 20px;
}