<h1>Lista klientów</h1>
<input type="text" class="form-control search-field" placeholder="Wyszukaj" [(ngModel)]="searchText">
<table>
  <tr>
    <th>Id.</th>
    <th>Imię i nazwisko klienta</th>
    <th>Numer telefonu</th>
    <th>E-mail</th>
    <th>NIP (opcjonalnie)</th>
    <th></th>
  </tr>

  <ng-container appZoomDirective *ngFor="let client of clients$ | async | searchFilter: searchText"> <!---  only one async needed--->
    <tr>
      <td>{{client.id}}</td>
      <td>{{client.name}} {{client.surname}}</td>
      <td>{{client.telNr}}</td>
      <td>{{client.email}}</td>
      <td>{{client.nip}}</td>
      <td class="action">
        <button>Edytuj</button>
        <!---  putClient() / formularz  edytujacy--->
        <button (click)="delClient(client.id)">Usuń</button>
      </td>
    </tr>
  </ng-container>
</table>
<button routerLink="/AddClient">Dodaj</button>
