.table-wrapper {
    position:relative;
    width: 45%;
  }
  .table-scroll {
    height:400px;
    overflow:auto;  
    margin-top:20px;
  }
  .table-wrapper table {
    width:100%;
      
  }
  .table-wrapper table * {
    color:black;
  }
  .table-wrapper table thead th{
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
  }