table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    border-spacing: 10px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
  }
td, th {
    border: 1px solid black;
    text-align: center;
    padding: 15px;
  }
  th{
    background-color: cornflowerblue;
    color: white
  }
.properties{
    list-style-type:none;
    text-align: left;
  }
button{
    margin-right: 20px;
}
.action{
  width: 200px;
}
