label{
    display: block;
    margin-top: 20px;
}
.submit{
    display: block;
    margin-bottom: auto;
    width: 120px;
    margin-top: 20px;
    margin-left: 140px;
}
input{
    width:200px;
    
}
*{
    margin-bottom: auto;
}
div{
    display: flex;
}
form{
    color: white;
    padding: 10px;
    width: 400px;
    background-color: cornflowerblue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
    border-radius: 10px;
}